#ingr{
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  /* width: 150px; /* Set a small width */ */
}
#ingr:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#col1{
  height: 300px;
}
#col2{
  height: 300px;
  width: 1000px;
}
.capsule_textbox{
    /* this is the only relevant part: */
    border-radius: 20%/50%;
    border-color: black;
    border-style: solid;
    text-align: center;

    border-width: thin;
    /* this is irrelevant, and just so the element can be visualised/displayed: */
    width: 80%;
    height: 6em;
    margin: 2em auto;
    background-color: #FFFFFF;
}
.col_item {
    margin-left:4.166666667%
}
.col_item:first-child,
.col_item:nth-child(5n+1) {
    margin-left: 0;
}
